/* color library */

:root {
    --main-blue: #0052A5;
    --accent-red: #AE4040;
    --shade-dblue: #212A49;
    --accent-lblue: #53B0D1;
    --shade-wht: #E5EFF1;
}

.mainblue-bg {
    background-color: var(--main-blue);
    color: var(--shade-wht);
}

.red-bg {
    background-color: var(--accent-red);
    color: var(--shade-wht);
}

.dblue-bg {
    background-color: var(--shade-dblue);
}

.lblue-bg {
    background-color: var(--accent-lblue);
}

.wht-bg {
    background-color: var(--shade-wht);
}

#otherresidence {
    display: none;
}

#redcard {
    display: none;
}

#whtcard {
    display: none;
}

#bluecard {
    display: none;
}
body {
    background-color: var(--shade-wht);
}
.navbar {
    background-color: var(--accent-lblue);
}

#fieldform {
    background-color: var(--accent-lblue);
}

#map{
    width: 100%;
    height: 400px;
}

.popupCard{
    /*Styling the popup information*/
}

.marker-foundation {
    background-image: url('../img/purple-ribbon-edited.png');
    background-size: cover;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
}

.marker-encampment {
    background-image: url('../img/tent.png');
    background-size: cover;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.marker-package1{
    background-color: #AE4040;
    background-size: cover;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.marker-package2{
    background-color: #AE4040;
    background-size: cover;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.marker-package3{
    background-color: #AE4040;
    background-size: cover;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.displayNone{
    display: none;
}

